*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.p-1{
    padding-top: 8%;
    padding-bottom: 8%;
}

.temp{
   margin-left: 3%;
   margin-right: 3%;
}

.main-h1{
    font-weight: 500;
    padding-top: 8%;
}

.main-h2{
    font-size: 1.3em;
    font-weight: 500;
}


.main-center{
    margin: auto;
    width: 280px;
}

.img-2{
    margin: auto;
width: 280px;
padding: 5% 0;
}

.main-p{
    line-height: 1.5rem;
    font-size: .9em;
    margin: 5%;
}

.overflow{
    overflow: visible;
}

.main{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.order-header{
    background-color: #000;
    padding: 1rem;
}

.order-header a{
    text-decoration: none;
    color: #fff;
}

.nav-bar{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}


.nav-bar button{
    border: none;
    background-color: #fff;
}

.sec-1{
 margin: auto;
 width: 280px;
 animation-delay: 2s;
}

.sec-1 h1{
    font-weight: 500;
    margin: 20px 0;
}

.sec-1 h2{
    font-weight: 500;
    margin: 2%;
    margin: 20px 0;
}

.sec-1 button{
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-style: none;
    margin: 20px;
width: 175px;
font-size: 14px;
font-weight: 200;
}

.orange-pic{
    background-image: url(./images/c837a6_e9a98eea8cf6418088d411361c2f32a1~mv2.webp);
    background-color: #cccccc; /* Used if the image is unavailable */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.pink-bar{
    background-color: #f5e8ff ;

    padding: 1rem;
    
}

.pink-bar a{
    color: #000;
}

.sec-2{
    margin: auto;
 width: 280px;
}

.sec-2 h1{
    font-weight: 500;
}

.sec-2 h2{
    font-size: 1.2em;
    font-weight: 500;
}

.sec-2 *{
    margin: 4%;
}

.sec-2 p{
    line-height: 1.5rem;
}


.green-sec {
    background-color: #e6fac0;
    
}

.green-sec-2{
    margin: auto;
    width: 280px;
}

.green-sec h1{
    font-weight: 500;
}

.green-sec img{
    margin: auto;

padding: 5% 0;
}

.green-sec h2{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 4%;
}

.green-sec *{
    
}

.green-sec p{
    line-height: 1.5rem;
    font-size: .9em;
    margin: 5%;
}

.green-sec-2 button{
    background-color: transparent;
    border: solid black 1.6px;
   
    padding: 1rem;

    margin: 20px;
width: 175px;
font-size: 14px;
font-weight: 100;
}

.sect-3{
    background-color: #f5e8ff;
    padding-bottom: 3%;
}


.sect-4{
    background-color: #e6fac0;
}

.sect-4 *{
    padding-bottom: 3%;
}

.c-one{
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: 9px;

    background: transparent;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    margin: auto;
    font-size: 1rem;
    font-weight: 300;
}

.sect-4 p{
    letter-spacing: .06rem;
line-height: 1.4rem;
font-weight: 450;
font-size: .9rem;
}

.c-3{
    padding-bottom: 10%;
}

.follow {
    height: 12rem;
    font-weight: 500;
}

.follow h1{
    padding-top:2%;
}


.foot{
    background-color: #394b2a;
    color: #fff;
    
    text-align: left;
}

.f-images{
    padding-bottom: 13%;
}

.img-list img{
    position: relative;
    width: 131px;
height: 159px;
}

.fi-1{
    transform: rotate(-30deg);
    z-index: 1;
    left: 80px;
top: 80px;
}

.fi-2{
    transform: rotate(20deg);
    z-index: 2;
    right: 7rem;
}

.fi-3{
    transform: rotate(-15deg);
    z-index: 3;
    bottom: 15rem;
    left: 5rem;
}

.fi-4{
    transform: rotate(20deg);
    z-index: 4;
    bottom: 10rem;
left: 1rem;
}

.f-list{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: -80px;
}

.f-list a{
    text-decoration: none;
    color: #fff;
    padding-bottom: .7rem;
    font-size: 15px;
}

.fl-1{
    display: flex;
    flex-direction: column;
}

.fl-2{
    display: flex;
    flex-direction: column;
}

.f-list h2{
    font-weight: 400;
    font-size: 1.4rem;
    padding-bottom: 2rem;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    
  }

  input[type=button], input[type=submit], input[type=reset] { 
    background-color: transparent;
    color: #fff;
    border: solid #fff 1.6px;
    padding: 1rem;
    margin: 20px;
width: 135px;
font-size: 14px;
font-weight: 100;
  }


form{
    display: flex;
}

.mail{
    padding: 3rem 0;
}

.mail h2{
    padding-bottom: 1rem;
}

.mail-a{
    padding-top: 30px;
}

.serving h3{
    text-decoration: underline;
    letter-spacing: .1rem;
}
.serving{
    padding: 9% 0;
}


















/*desktop classes*/

@media screen and (min-width: 992px) {
    div.order-header {
        display: none;
      }

      nav.nav-bar {
        display: none;
      }

    /*parralax*/
    .parr{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*large navbar*/
    .nav-desk{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-self: center;
    }
    
    .nav-right{
        display: flex;
    }
    
    .order-button button{
        border: none;
        background-color: #000;
        color: #fff;
        padding: 2rem;
        font-size: 1rem;
        width: 13rem;
    }
    
    .log-in{
        display: flex;
        padding: 2rem;
    }
    
    .log-in p {
        align-self: center;
        padding-left: 1rem;
    }
    
    .nav-head{
        align-self: center;
        font-weight: 300;
    }
    .icon-1{
        align-self: center;
        padding-left: 4rem;
    }
    
    .nav-head h2{
        font-weight: 500;
        font-size: 1.9rem;
    }
    
    .nav-head {
        padding-left: 250px;
    }

    /* section 1*/
    .sec-1 {
        width: 100vw;
        padding-top: 3rem;
    }
    .sec-1 h1{
        font-size: 3.3rem;
        padding-bottom: .4rem;
    }

    .sec-1 button{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 3rem;
        width: 250px;
        padding: 1.5rem 1rem;
    }

    .orange-pic{
        height: 500px;
    }

    /*pink bar*/
    .pink-bar{
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        padding: 1.7rem;
    }

    .pink-bar a {
        padding-left: .2rem;
    }

    /*section 2*/

    .sec-2{
        width: 90vw;
        text-align: left;
    }

    .sec-2-row{
        display: flex;
    }

    .sec-2 h1{
        text-align: center;
        font-size: 3rem;
    }
    
    .sec-2 h2{
        font-size: 2rem;
        padding-top: 2rem;
    }

   /*green section*/
   .green-sec{
       display: flex;
       justify-content: center;
       text-align: left;
   }

   .green-sec-img{
    width: 520px;
}

    .green-pic{
    position: relative;
    top: 30px;
    left: 60px;
    width: 1000px;
   }

   .green-sec-2{
       margin: 0;
   }

   .green-sec-2{
    width: 800px;
    padding-top: 10vw;
   }

   .green-sec-2 h1{
    font-size: 3.3rem;

    }

    .white-section{
        
        height: 17rem;
        width: 100vw;
        background-color: #fff;
        color: black;
    }

    .white-section h1{
        padding-top: 10%;
        font-size: 3rem;
        font-weight: 500;
    }

    .sect-3-row{
        display: flex;
        justify-content: center;
        text-align: left;
        
    }


    .sect-3-1,.sect-3-,.sect-3-3{
        padding: 0 5rem;
    }

    .img-2-3{
        height: 320px;
    }
    

    .green-sec img{
        width: 500px ;
          
    }

   
    /*section-4-lg*/

    .sect-4-row{
        display: flex;
        text-align: left;
        justify-content: center;
    }

    .sect-4-row .c-one{
        margin: inherit;
    }
    
    .four-div h2,.four-div p, .circle{
        padding: 1rem 0;
    }
    
    .four-div h2{
        font-size: 2rem;
    }

    .four-div p{
        font-size: 1rem;
        font-weight: 300;
    }

    .four-div{
        padding: 0 3rem;
    }

    /*follow*/
    .follow{
        height: 400px;
        
    }

    .follow h1{
        font-size: 3rem;
        font-weight: 500;
    }

    .f-row{
        display: flex;
        justify-content: center;
        margin-top: -5rem;
        padding-bottom: 7rem;
    }

    .f-list{
        display: flex;
        
        padding: 0 3rem;
        margin-left: -25rem;
    }

    .f-2{
        display: flex;
        padding: 0 3rem;
        margin: inherit;
    }

    .img-list img{
        width: 250px;
        height: 300px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .img-list{
        display: flex;
        justify-content: center;
    }

    .fi-1{
        top: 0;
    }

    .f-images{
        position: relative;
        bottom: 160px;
    }

    .fl-1{

    }

    .fl-2{
        padding-left: 130px;
    }

    .mail{
        padding-left: 4rem;
    }

    .serving{

    }

    /*bottom bar*/
    .bottom-bar{
        height: 600px;
        width: 100vw;
        background-color: #fff;
        position: absolute;
        top: 630px;
        position: fixed;
    }
}
     




  


  @media only screen and (max-width: 991px) and (min-width: 0px){
    nav.nav-desk {
        display: none;
      }

    nav.parr{
        display: none;
    }

    /*hidden*/
.white-section{
    display: none;
}

.img-list img {
    position: inherit;
}

.img-list{
    padding-left: 8rem;
}

.w3-round{
    height: 377px;
    width: 280px;
}
  }


  


/*desktop navbar*/


